@page
@model IndexModel
@{
    ViewData["Title"] = "Katalog produktów";
}
<div class="container-fluid">
    <div class="list-group">
        <div class="list-group-item" aria-current="true">
            <img class="w-100" src="" width="100" height="100%" alt="test" />
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Luxor 1.0 XL</h5>
                <button>❤️</button>
            </div>
            <p class="mb-1"></p>
            <small>And some small print.</small>
        </div>
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
        </div>
        <div class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small class="text-muted">And some muted small print.</small>
        </div>
    </div>
</div>
