@page
@model LoginModel
@{
    ViewData["Title"] = "Logowanie";
}
<h1>@ViewData["Title"]</h1>

<div class="container-lg">
    <div class="form-floating mb-3 w-50">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3 w-50">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
</div>
